extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p My portfolio showcases my expertise in HTML, CSS, and JavaScript, as well as my proficiency in Express and Node.js, through various projects that demonstrate my technical skills and creativity.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data.projects

        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='project picture')
            h5= project.project_name

